.sideBar {
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  transition: 0.2s;
  font-size: 1.2rem;
}

.sideBar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.sideBar a.active {
  color: white;
}

.sideBar a:hover:not(.active) {
  background-color: rgb(114, 113, 113);
  color: white;
}

@media screen and (max-width: 700px) {
  .sideBar {
    width: 100%;
    height: auto;
    transition: 0.2s;
    z-index: 1;
  }
  .displayNone a {
    display: none;
  }

  .sideBar a {
    float: left;
    text-align: center;
  }
  div.content {
    margin-left: 0;
  }
  .sideBar a {
    text-align: center;
    float: none;
  }
}

@media screen and (min-width: 701px) {
  .burgerButton {
    display: none !important;
  }
}
