@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@250&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  padding-left: 180px;
  padding-top: 80px;
}
.nomatch {
  height: 20rem;
}

.input {
  border: none;
}

@media screen and (max-width: 700px) {
  body {
    padding-left: 0;
    padding-top: o;
  }
}
